<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
<% @user.errors.each do |attr, msg| %>
<%= "#{attr} #{msg}" if @user.errors[attr].first == msg %> 
<% end %>
  <div class="form-inputs">
      <%= f.input :firstname, :required => true, :autofocus => true %>
      <%= f.input :lastname, :required => true, :autofocus => true %>

    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.select("role_id", Role.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
    <%= f.select("sport_id", Sport.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
    <%= f.select("state_id", State.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
    <%= f.select("position_id", Position.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
    <%= f.select("college_id", College.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
