<% if current_user %>
<div id="contentwrapper" style="margin-top:-5px;">
<%else%>
<div id="contentwrapper">
<%end%>
	<div id="contentcolumn-home">
	<div  ><%=image_tag('homepageimage.jpg',:class => 'content-athlete-picture')%></div>
	<div class="content-bg-color">
		  <div class ="content-group1">
			  <div class="content-why-use"><%=image_tag('home_why_use.jpg')%>
				  <div class="content-why-use-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit hendrerit nunc ultrices 
				  venenatis.Integer in leo augue, nec dapibus massa. Vivamus eros orci, ullamcorper a venenatis a, volutpat id nunc. Nunc pellentesque
				  </div> 
			  </div>  
		  </div>
		  <div class ="content-group2">
			  <div class="content-why-use"><%=image_tag('home_how_it_works.jpg')%>
				  <div class="content-why-use-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit hendrerit nunc ultrices 
				  venenatis.Integer in leo augue, nec dapibus massa. Vivamus eros orci, ullamcorper a venenatis a, volutpat id nunc. Nunc pellentesque
				  </div> 
			  </div>  
		  </div>
		<div class ="content-group3">
			<div class="content-why-use"><%=image_tag('home_our_customers.jpg')%>
				<div class="content-why-use-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit hendrerit nunc ultrices 
				venenatis.Integer in leo augue, nec dapibus massa. Vivamus eros orci, ullamcorper a venenatis a, volutpat id nunc. Nunc pellentesque
				</div> 
			</div>  
		</div>
		<div class="clear-fix"></div>
		<div class="content-text">Many thanks to our team members:</div>
		<div class="content-home-bottom-images">
			<div class="content-home-bottom-images-wrap">
				<div class="content-nike-pic"><%=image_tag('home_nike.jpg')%></div>
				<div class="content-ua-pic"><%=image_tag('home_under_armour.jpg')%></div>
				<div class="content-adidas-pic"><%=image_tag('home_adidas.jpg')%></div>
				<div class="content-puma-pic"><%=image_tag('home_puma.jpg')%></div>
				<div class="content-rbk-pic"><%=image_tag('home_rbk.jpg')%></div>
			</div>
		</div>
	  </div>
  </div>
</div>
